.table-toolbar {
    padding: 0.5rem 0;
    font-size: 0.85rem;
    font-weight: 600;
    color: #0176d3;
}

.row-selected {
    background-color: #f3f9ff;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #f7f9fb;
}